@model IEnumerable<VideoStore.Models.Movie>
@{
    ViewBag.Title = "Home page";
}

<h2>Home</h2>

<table class="table table-condensed">
    <tr class="active">
        <th>@Html.Label("Title")</th>
        <th>@Html.Label("Category")</th>
        <th>@Html.Label("Rating")</th>
        <th>@Html.Label("Year")</th>
        <th>@Html.Label("Status")</th>
        <td>
            @Html.ActionLink("+", "NewMovie", "Home", null, new { @class = "btn btn-primary" })
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="location.href ='@Url.Action("MoreDetails","Home", new {id = item.Id})'">
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Rating)</td>
            <td>@Html.DisplayFor(modelItem => item.Year)</td>
            <td>@Html.DisplayFor(modelItem => item.Status.Name)</td>
        </tr>
    }

</table>

