@model IEnumerable<VideoStore.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>

<table class="table table-condensed">
    <tr class="active">
        <th>@Html.Label("Name")</th>
        <th>@Html.Label("Category")</th>
        <th>@Html.Label("Status")</th>
        <th>@Html.Label("Rating")</th>
        <th>@Html.Label("Date created")</th>
        <th>@Html.Label("Date updated")</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Status.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Rating)</td>
            <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
            <td>@Html.DisplayFor(modelItem => item.DateUpdated)</td>
        </tr>
    }

</table>

<button type="button" class="btn btn-default">Default</button>
