@model VideoStore.Models.Movie

@{
    ViewBag.Title = "More Details";
}

<h2>Movies details</h2>

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-6">
            <h3>
                @Model.Title (@Model.Year)

            </h3>
        </div>
        <div class="col-md-6">
            <h3>
                <span class="pull-right text-warning">
                    @Model.Status.Name
                </span>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-bordered">
                <tr>
                    <td class="col-md-6">
                        @Html.Label("Rating")
                    </td>
                    <td>
                        @Model.Rating
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Category")
                    </td>
                    <td>
                        @Model.Category.Name
                    </td>
                </tr>
             </table>
            <div>
                @Html.Label("Description")
            </div>
            <div>
                @Model.Description
            </div>
        </div>

        <div class="col-md-6">
            <img src="@Model.ImageUrl" style="width:500px; height:400px" />
        </div>
    </div>
}

<br />

@if (Model.Status.Name == "Available")
{
    @Html.ActionLink("Rent Movie", "RentMovie", new { id = Model.Id }, new { @class = "btn btn-primary" })
}

@if (Model.Status.Name == "Rented(exp)!" || Model.Status.Name == "Rented")
{
    @Html.ActionLink("Extend Rent", "RentMovie", new { id = Model.Id }, new { @class = "btn btn-primary" })

    @Html.ActionLink("Return Movie", "ReturnMovie", new { id = Model.Id }, new { @class = "btn btn-primary" })
}

@Html.ActionLink("Delete movie", "DeleteMovie", new { id = Model.Id }, new { @class = "btn btn-primary" })


@Html.ActionLink("Cancel", "Cancel")
