@model VideoStore.Models.Movie
           
@{
    ViewBag.Title = "MoreDetails";
}

<h2>Movies details</h2>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
               @Model.Title (@Model.Year)
            </td>
            <td>
                @Model.Status.Name
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Rating")
            </td>
            <td>
                @Model.Rating
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("Category")
            </td>
            <td>
                @Model.Category.Name
            </td>
        </tr>
        <tr>
            <td>@Html.Label("Description")</td>
        </tr>
        <tr>
            <td>@Model.Description</td>
            <td><img src="@Model.ImageUrl" style="width:500px;height:300px"/></td>
        </tr>

    </table>
}

<br />


    @Html.ActionLink("Delete movie", "DeleteMovie", new { id = Model.Id }, new { @class = "btn btn-primary" })


    @Html.ActionLink("Rent Movie", "RentMovie", new { id = Model.Id }, new { @class = "btn btn-primary" })



@Html.ActionLink("Cancel", "Cancel")