@model VideoStore.Models.Movie
@{
    ViewBag.Title = "NewMovie";
}

<h2>NewMovie</h2>

@using (Html.BeginForm())
{
    <div>
        @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
        <br />
        @Html.TextBoxFor(model => model.Rating, new { placeholder = "Rating"})
        <br />
        @Html.TextBoxFor(model => model.ImageUrl, new { placeholder = "Image url"})
        <br />
        @Html.TextBoxFor(model => model.Description, new { placeholder = "Description"})

        @*@Html.DropDownListFor(model => model.Category)*@

        <br />
        <input type="submit" value="Save" />


    </div>
}


@Html.ActionLink("Cancel", "Cancel")